/* global */
:root {
  --balloon-border-radius: 2px;
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-text-color: #fff;
  --balloon-font-size: 12px;
}

button[title][balloon] {
  overflow: visible;
}

[title][balloon] {
  position: relative;
  cursor: pointer;
}

/* tooltip */
[title][balloon]:after {
  opacity: 0;
  pointer-events: none;
  border-radius: var(--balloon-border-radius);
  background: var(--balloon-color);
  color: var(--balloon-text-color);
  padding: .5em 1em;
  position: absolute;
  z-index: 10;
  content: attr(title);
  text-indent: 0;
  text-shadow: none;
  white-space: nowrap;
  font: normal 400 var(--balloon-font-size) -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* arrow */
[title][balloon]:before {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  border: 5px solid transparent;
  position: absolute;
  z-index: 10;
  content: "";
}
[title][balloon="up"]:before { border-top-color: var(--balloon-color); }
[title][balloon="down"]:before { border-bottom-color: var(--balloon-color); }

/* hover state */
[title][balloon]:hover:before,
[title][balloon]:hover:after {
  opacity: 1;
  pointer-events: none;
}

[title][balloon="up"]:hover:after,
[title][balloon="up"]:hover:before,
[title][balloon="down"]:hover:after,
[title][balloon="down"]:hover:before {
  left: 50%;
  transform: translate(-50%, 0);
}

/* tooltip positioning */
/* balloon up */
[title][balloon="up"]:after { margin-bottom: 10px; }
[title][balloon="up"]:after,
[title][balloon="up"]:before {
  bottom: 100%;
}
/* balloon down */
[title][balloon="down"]:after { margin-top: 10px; }
[title][balloon="down"]:after,
[title][balloon="down"]:before {
  top: 100%;
}
